<h1>Password Generator</h1>
<div>
<label>Enter length</label>
<input type="text"/>
</div>
<div>
    <label>use Letters</label>
    <input type="checkbox"/>
</div>
<div>
    <label>use Numbers</label>
    <input type="checkbox"/>
</div>
<div>
    <label>use symbols</label>
    <input type="checkbox"/>
</div>
<div>
    <!-- event binding -->
    <button (click)="onButtonClick()">Generate</button>
</div>
<div>
    <label>Your password</label>
    <!-- Poperty Binding -->
    <input [value]="password"/>
</div>
<!-- Interpolation Synatax -->
<div>{{password}}</div>
<div>{{getName()}}</div>